<div id="cart" class="container-lg container-fluid">
    <h1 class="display-6"><a (click)="goBack()" class="back-btn fw-lighter text-dark text-decoration-none"><i class="bi bi-arrow-left-circle"></i></a> Cart</h1>
    <table id="cart-table" class="table">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Name</th>
          <th scope="col">Cost</th>
          <th scope="col">Quantity</th>
          <th scope="col">Update</th>
        </tr>
      </thead>
      <tbody class="table-hover">
        <tr *ngFor="let item of items">
          <!-- 'cart-row' template from Project D goes here -->
            <td scope="row">{{ item.id }}</td>
            <td>{{ item.product ? item.product.name : '' }}</td>
            <td>${{ item.product ? item.product.cost : ''  | currency}}</td>
            <td><input type="text" id="qty-{{ item.id }}" class="qty-input form-control" value="{{ item.qty }}" /></td>
            <td><button type="button" data-id="{{ item.id }}" class="update-cart btn btn-primary" tabindex="0">Update</button></td>
          <td><input type="text" class="qty-input form-control" [(ngModel)]="item.qty"
                     (ngModelChange)="qtyAsNumber(item)" /></td>
          <td><button type="button" tabindex="0"
                      class="update-cart btn btn-primary"
                      (click)="updateCart(item)">Update</button></td>
        </tr>
      </tbody>
    </table>
  </div>